body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #1e1e1e;
    overflow: scroll;
}

button {
    position: absolute;
}

button#back {
    font-weight: bolder;
    z-index: 1;
    background-color: #50AFAB;
    text-shadow: 0 calc(1vh / 9) calc(2vh / 9) rgb(0 0 0 / 25%);
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #387C79;
    border-bottom-width: calc(4% / 9);
    border-radius: calc(25vw / 72);
    font-family: "roboto", "Helvetica", monospace;
    font-size: calc(35vw / 36);
    width: 5%;
    height: 5%;
    left: 2.5%;
    top: 3%;
}

button#back:hover {
    background-color: #408C88;
    transition-duration: 200ms;
    cursor: pointer;
}

button#back:active {
    background-color: #387A77;
    transition-duration: 100ms;
}

p#main {
    position: absolute;
    color: white;
    font-family: jura;
    font-size: calc(10vw / 9);
    width: 87.5%;
    margin: 0 2.5% 0 10%;
    top: 10%;
}

a {
    color: rgb(117, 165, 255);
}

a:hover {
    color: hsl(356, 100%, 73%);
}

a:visited {
    color: hsl(309, 100%, 73%);
}

@font-face {
    font-family: roboto;
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: jura;
    src: url("../assets/fonts/Jura-Bold.ttf");
}