/* GENERAL STYLES */

.hidden {
  display: none;
}

canvas,
p,
button,
textarea,
input,
label {
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  top: 0;
  left: 0;
}

p.debug {
  margin: 0;
  color: #C7C770;
  text-shadow: calc(-5vw / 72) calc(-1vh / 9) 0 #000, calc(5vw / 72) calc(-1vh / 9) 0 #000, calc(-5vw / 72) calc(1vh / 9) 0 #000, calc(5vw / 72) calc(1vh / 9) 0 #000;
  font: 1.6vmin monospace;
}

/* MAIN MENU STYLING */

h1#title {
  position: absolute;
  vertical-align: middle;
  font-size: calc(25vw / 6);
  font-family: "jura", monospace;
  text-align: center;
  color: white;
  width: 45%;
  left: 5%;
  top: 5%;
  border-color: white;
  border-style: solid;
  border-width: calc(7vh / 9) calc(35vw / 72);
}

.surviv-purple-button {
  background-color: #874c90;
  border-radius: calc(25vw / 72);
  text-shadow: 0 calc(1vh / 9) calc(2vh / 9) rgb(0 0 0 / 25%);
  border: none;
  border-bottom: calc(4vh / 9) solid #664053;
  font-family: "roboto", "Helvetica", monospace;
  font-size: calc(25vw / 12);
  font-weight: bolder;
  color: white;
}

.surviv-purple-button:hover {
  background-color: #7d4686;
  transition-duration: 200ms;
  cursor: pointer;
}

.surviv-purple-button:active {
  background-color: #5E3564;
  border-bottom-width: calc(4vh / 9);
  border-bottom-color: #5E3564;
  transition-duration: 100ms;
}

.surviv-blue-button {
  background-color: #50AFAB;
  border-radius: calc(25vw / 72);
  text-shadow: 0 calc(1vh / 9) calc(2vh / 9) rgb(0 0 0 / 25%);
  border: none;
  border-bottom: calc(4vh / 9) solid #387C89;
  font-family: "roboto", "Helvetica", monospace;
  font-size: calc(35vw / 36);
}

.surviv-blue-button:hover {
  background-color: #408C88;
  transition-duration: 200ms;
  cursor: pointer;
}

.surviv-blue-button:active {
  background-color: #387A77;
  border-bottom-width: calc(4vh / 9);
  border-bottom-color: #387A77;
  transition-duration: 100ms;
}

.surviv-grey-button {
  background-color: #7A7A7A;
  border-radius: calc(25vw / 72);
  text-shadow: 0 calc(1vh / 9) calc(2vh / 9) rgb(0 0 0 / 25%);
  border: none;
  border-bottom: calc(4vh / 9) solid #626262;
  font-family: "roboto", "Helvetica", monospace;
  font-size: calc(25vw / 12);
  font-weight: bolder;
  color: white;
}

.surviv-grey-button:hover {
  background-color: #737373;
  transition-duration: 200ms;
  cursor: pointer;
}

.surviv-grey-button:active {
  background-color: #666;
  border-bottom-width: calc(4vh / 9);
  border-bottom-color: #666;
  transition-duration: 100ms;
}

.surviv-outline-button {
  background-color: #0008;
  color: white;
  font-family: roboto;
  font-size: calc(14vh / 9);
  border-width: calc(5vw / 72);
  border-radius: calc(25vw / 72);
  border-style: solid;
  border-color: white;
}

.surviv-outline-button:hover {
  background-color: #000A;
  border-color: #EEE;
  cursor: pointer;
}

.main-menu-button {
  width: 15%;
  height: 7%;
  left: 5%;
}

div#menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button#play {
  position: absolute;
  top: 42.5%;
}

button#settings {
  position: absolute;
  top: 52.5%;
}

button#changelog {
  position: absolute;
  top: 62.5%;
}

button#attributions {
  position: absolute;
  top: 72.5%;
}

p#loading {
  font-family: "roboto";
  font-size: larger;
  font-weight: bold;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

p#version {
  left: 0.25%;
  bottom: 0%;
  font-family: monospace;
  font-size: calc(65vw / 72);
}

div#name-field {
  font-family: "roboto", "Menlo", monospace;
  font-size: calc(100vw / 72);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: unset;
  right: 2%;
  top: 2%;
  width: 10%;
  height: 5%;
  outline: none;
  overflow: scroll;
}

div#name-field:hover {
  cursor: text;
}

div#name-field:focus {
  background-color: #000B;
}

div#settings-cont {
  position: absolute;
  top: 52.5%;
  left: 21%;
  width: 35%;
  height: 14%;
  background-color: #0008;
  border-radius: calc(25vw / 72);
}

div#settings-cont::after {
  content: " ";
  position: absolute;
  top: 30%;
  transform: translate(0, -50%);
  right: 100%;
  margin-top: calc(-5vh / 9);
  border-width: calc(25vw / 72);
  border-style: solid;
  border-color: #0000 #0008 #0000 #0000;
}

button.setting-switch {
  position: relative;
  margin: 2.5% 0 0 2.5%;
  width: 30%;
}

button#back {
  font-weight: bolder;
  z-index: 1;
  color: white;
  width: 5%;
  height: 5%;
  left: 2.5%;
  top: 3%;
}

button.level-card {
  font-family: "roboto", "Menlo", monospace;
  font-size: calc(5vw / 6);
  z-index: 2;
  border-style: solid;
  border-color: #547033;
  border-radius: calc(25vw / 72);
  border-width: calc(1vh / 9) calc(5vw / 72);
  width: 15%;
  height: 20%;
}

button.level-card:hover {
  border-radius: calc(25vw / 72);
  border-color: #4E6930;
  border-width: calc(2vh / 9) calc(5vw / 36);
  cursor: pointer;
}

button.level-card:active {
  border-radius: calc(25vw / 72);
  border-color: #344620;
  border-width: calc(2vh / 9) calc(5vw / 36);
}

p.level-title {
  text-align: center;
  font-family: "roboto", "Menlo", monospace;
  font-size: calc(10vw / 9);
  color: white;
  width: 100%;
  left: 0;
  top: 0;
  text-shadow: calc(-5vw / 72) calc(-1vh / 9) 0 #000, calc(5vw / 72) calc(-1vh / 9) 0 #000, calc(-5vw / 72) calc(1vh / 9) 0 #000, calc(5vw / 72) calc(1vh / 9) 0 #000;
}

p.level-desc {
  text-align: center;
  left: 0;
  top: 25%;
  width: 100%;
  font-family: monospace;
  font-size: calc(5vw / 6);
  color: #DDDDDD;
  text-shadow: calc(-5vw / 72) calc(-1vh / 9) 0 #000, calc(5vw / 72) calc(-1vh / 9) 0 #000, calc(-5vw / 72) calc(1vh / 9) 0 #000, calc(5vw / 72) calc(1vh / 9) 0 #000;
}

/* UI ELEMENT STYLING */

.ui {
  user-select: none;
}

div#ui-container {
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
}

div.ammo:not([id="ui-ammo-cont"]) {
  position: absolute;
  bottom: 8.9%;
  background-color: #0006;
  border-radius: calc(25vw / 72);
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: roboto, Arial, sans-serif;
  text-shadow: calc(5vw / 36) calc(2vh / 9) 0 #000;
  pointer-events: none;
}

div#ui-ammo-counter-main {
  left: 50%;
  transform: translate(-50%, 0);
  width: 6.95%;
  height: 5.55%;
  font-size: calc(55vw / 18);
}

div#ui-ammo-counter-res {
  left: 53.9%;
  width: 4.53%;
  height: 3.6%;
  font-size: calc(120vw / 72);
}

div#ui-reload-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 37%;
  width: 10.65%;
  height: 4%;
  font-size: calc(7vw / 4);
  border-radius: calc(25vw / 72);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0006;
  font-family: roboto, Arial, sans-serif;
  pointer-events: none;
}

canvas#ui-reload-spin {
  position: absolute;
  aspect-ratio: 1;
  left: 50%;
  transform: translate(-50%, 0);
  height: 8.5%;
  top: 25%;
}

div.hp {
  border-radius: calc(25vw / 72);
}

div#ui-hp-cont {
  position: absolute;
  background-color: #0006;
  left: 50%;
  bottom: 1.5%;
  width: 28.6%;
  height: 4.9%;
  transform: translate(-50%, 0);
}

div#ui-hp-inner-cont {
  position: absolute;
  left: 1.45%;
  top: 50%;
  width: 97.1%;
  height: 72%;
  transform: translate(0, -50%);
}

div#ui-hp-bar {
  position: absolute;
  background-color: #B3B3B3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

div#ui-hp-bar-lag {
  position: absolute;
  background-color: #929292;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: width 1.0s ease-out;
  z-index: 1;
}

div.killfeed-entry {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: "roboto bold", "Menlo", monospace;
  font-size: calc(9vw / 9);
  font-weight: bold;
  border-radius: calc(15vw / 72);
  background-color: #0006;
  color: white;
  padding: 0 0.5%;
  margin: 1% 0;
  width: max-content;
  height: 3.3%;
  right: 7.8%;
}

img.killfeed-image {
  aspect-ratio: auto;
  height: 1em;
  transform: translate(0, 15%);
}

div#pause-menu-cont {
  position: absolute;
  background-color: #0008;
  border-radius: calc(25vw / 72);
  transform: translate(-50%, -50%);
  width: calc(875% / 36);
  height: 55%;
  left: 50%;
  top: 50%;
}

button#exit-game {
  width: calc(640% / 7);
  height: calc(41vh / 9);
  transform: translate(-50%, 0);
  font-family: roboto, Arial, sans-serif;
  color: white;
  font-size: calc(16vh / 9);
  left: 50%;
  bottom: calc(85vh / 9);
  background-image: url("./assets/gui/quit.svg");
  background-repeat: no-repeat;
  background-size: calc(220vw / 72);
  background-position: calc(-5vw / 36) calc(-1vh / 3);
}

button#resume-game {
  width: calc(640% / 7);
  height: calc(41vh / 9);
  transform: translate(-50%, 0);
  font-family: roboto, Arial, sans-serif;
  color: white;
  font-size: calc(16vh / 9);
  left: 50%;
  bottom: calc(138vh / 81);
  background-image: url("./assets/gui/resume.svg");
  background-repeat: no-repeat;
  background-size: calc(220vw / 72);
  background-position: calc(-5vw / 36) calc(-1vh / 3);
}


/* CUSTOM FONTS */

@font-face {
  font-family: roboto;
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "roboto bold";
  src: url("./assets/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: jura;
  src: url("./assets/fonts/Jura-Bold.ttf");
}

/* ANIMATIONS */
@keyframes HP-critical {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }

  50% {
    background-color: rgba(255, 0, 0, 0.8);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}