body {
    overscroll-behavior: none;
}

* {
    margin: 0;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #769d48;
    }

    h3 {
        color: black;
    }

    header {
        width: 100%;
        padding: 0.3em 0;
        text-align: center;
        background-color: #83af50;
        color: white;
        font-family: "roboto bold";
        font-size: 30px;
    }

    main {
        width: 80%;
        margin: 0 auto;
        color: black;
        background-color: #ffe3c2;
    }

    footer {
        background-color: #698c40;
        color: white;
    }

    button:hover {
        cursor: pointer;
        filter: brightness(0.85);
    }

    div.code-block {
        background-color: white;
        color: black;
        font-family: Menlo;
        font-size: 14px;
    }

    a {
        color: hsl(240, 100%, 47%);
    }

    a:hover {
        color: hsl(0, 100%, 41%);
    }

    a:visited {
        color: hsl(271, 68%, 32%);
    }

    div.infobox {
        background-color: hsl(220, 80%, 85%);
        border-style: solid;
        border-width: calc(3vh / 9);
        border-color: hsl(220, 80%, 75%);
        font-family: "jura";
        font-size: 16px;
        color: hsl(140, 20%, 20%);
        margin: 0.5em 0 0.5em 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #414c58;
    }

    h3 {
        color: white;
    }

    header {
        width: 100%;
        padding: 0.3em 0;
        text-align: center;
        background-color: hsl(211, 15%, 35%);
        color: white;
        font-family: "roboto bold";
        font-size: 30px;
    }

    main {
        width: 80%;
        margin: 0 auto;
        color: white;
        background-color: #333f4d;
    }

    footer {
        background-color: #414c58;
        color: white;
    }

    button:hover {
        cursor: pointer;
        filter: brightness(0.85);
    }

    div.code-block {
        background-color: #222;
        color: whitesmoke;
        font-family: Menlo;
        font-size: 14px;
    }

    a {
        color: hsl(240, 100%, 81%);
    }

    a:hover {
        color: hsl(0, 100%, 81%);
    }

    a:visited {
        color: hsl(271, 100%, 71%);
    }

    div.infobox {
        background-color: hsl(220, 80%, 63%);
        border-style: solid;
        border-width: calc(3vh / 9);
        border-color: hsl(220, 80%, 53%);
        font-family: "jura";
        font-size: 16px;
        color: hsl(140, 20%, 20%);
        margin: 0.5em 0 0.5em 0;
    }
}

div.warning {
    background-color: hsl(60, 80%, 53%);
    border-style: solid;
    border-width: calc(3vh / 9);
    border-color: hsl(60, 80%, 43%);
    font-family: "jura";
    font-size: 16px;
    color: hsl(240, 20%, 20%);
    margin: 0.5em 0 0.5em 0;
}

div.imp-dis {
    background-color: hsl(100, 80%, 53%);
    border-style: solid;
    border-width: calc(3vh / 9);
    border-color: hsl(100, 80%, 43%);
    font-family: "jura";
    font-size: 16px;
    color: hsl(200, 20%, 20%);
    margin: 0.5em 0 0.5em 0;
}

div.imp-dis-pos {
    background-color: hsl(140, 50%, 53%);
    border-style: solid;
    border-width: calc(3vh / 9);
    border-color: hsl(140, 50%, 43%);
    font-family: "jura";
    font-size: 16px;
    color: hsl(160, 20%, 20%);
    margin: 0.5em 0 0.5em 0;
}

div#article-container {
    margin: 0 1%;
}

code {
    background-color: #AAA8;
    border-radius: 5px;
}

h2 {
    font-family: "jura";
    font-size: 24px;
    margin: 0 0 0.5em 0;
}

h3 {
    font-family: "jura";
    font-size: 20px;
}

p,
ul {
    font-family: "jura";
    font-size: 16px;
    margin: 0.5em 0 1em 0;
}

.no-margin {
    margin: 0;
}

@font-face {
    font-family: roboto;
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "roboto bold";
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: jura;
    src: url("../assets/fonts/Jura-Bold.ttf");
}