body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    display: grid;
    justify-items: center;
}

button:hover {
    cursor: pointer;
}

button#back {
    position: absolute;
    font-weight: bolder;
    z-index: 1;
    background-color: #50AFAB;
    text-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #387C79;
    border-bottom-width: 5px;
    border-radius: 5px;
    font-family: "roboto", "Helvetica", monospace;
    font-size: 14px;
    width: 72px;
    height: 45px;
    left: 2.5%;
    top: 3%;
}

button#back:hover {
    background-color: #408C88;
    transition-duration: 200ms;
    cursor: pointer;
}

button#back:active {
    background-color: #387A77;
    transition-duration: 100ms;
}

main#main-cont {
    font-family: jura;
    font-size: 15px;
    width: 87.5%;
    margin: 0 2.5% 0 10%;
    top: 10%;
}

aside#sidebar {
    font-family: jura;
    padding: 1%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

title {
    display: block;
    font-family: jura;
    font-size: 45px;
    padding: 1% 0;
}

h2 {
    margin: auto 0 0 0;
}

h3 {
    margin: 0;
}

code {
    background-color: #AAA8;
    border-radius: 5px;
    font-size: inherit;
}

@media (prefers-color-scheme: light) {

    title,
    main#main-cont,
    aside#sidebar {
        color: black;
    }

    aside#sidebar {
        border-left: 2px solid #3338;
    }

    body {
        background-color: #e0e0e0;
    }

    a {
        color: hsl(240, 100%, 47%);
    }

    a:hover {
        color: hsl(0, 100%, 41%);
    }

    a:visited {
        color: hsl(271, 68%, 32%);
    }
}

@media (prefers-color-scheme: dark) {

    title,
    main#main-cont,
    aside#sidebar {
        color: white;
    }

    aside#sidebar {
        border-left: 2px solid #AAA8;
    }

    body {
        background-color: #1e1e1e;
    }

    a {
        color: hsl(240, 100%, 81%);
    }

    a:hover {
        color: hsl(0, 100%, 81%);
    }

    a:visited {
        color: hsl(271, 100%, 71%);
    }
}

@font-face {
    font-family: roboto;
    src: url("../global_assets/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: jura;
    src: url("../global_assets/Jura-Bold.ttf");
}